@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@import "tailwindcss";

@theme{
    --font-primary:"Inter", sans-serif;

    --color-primary: #4D4D4D;
    --color-secondary: #717171;
    --color-btnColor: #4CAF4F;
}